body {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono", Menlo, Courier, monospace;
  background-color: #777;
}

#container {  
  width: 800px;
  margin: 40px auto;
  border: 4px solid #b9c3f2;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

/* * * * Navigation styles * * * */

nav {
  width:85%;
  margin: 0 auto;
}

ul { 
  margin: 40px 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style-type: none;
  display: inline;
  width: 150px;
  padding: 10px;
  background-color: #b8b8b8;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  border-radius: 6px;
  border: 2px solid transparent;
}

ul li:hover {
  animation-name: fader;
  animation-duration:1s;
  animation-fill-mode: forwards;

 -moz-animation-name: fader;
 -moz-animation-duration:1s;
 -moz-animation-fill-mode: forwards;

 -webkit-animation-name: fader;
 -webkit-animation-duration:1s;
 -webkit-animation-fill-mode: forwards;
  
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #000;
}

/* * * * Main content * * * */

main {
  margin: 0 auto;
  width: 75%;
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: #000;
}

h1.name {
  text-align: center;
  font-size: 40px;
  color: #000;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

h2 {
  text-align: center;
}


/* * * * Animations * * * */

@keyframes fader {
  0% { background-color: #b8b8b8;}
  100% { background-color: #fff; border: 2px solid #000; } 
}

@keyframes floating {
  from {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
  65% {
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
  }
  to {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
}

/* Firefox */
@-moz-keyframes fader {
  0% { background-color: #b8b8b8; }
  100% { background-color: #fff; border: 2px solid #000; } 
}

@-moz-keyframes floating {
  from {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
  65% {
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
  }
  to {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
}

/* Safari and Chrome */
@-webkit-keyframes fader {
  0% { background-color: #b8b8b8; }
  100% { background-color: #fff; border: 2px solid #000; } 
}

@-webkit-keyframes floating {
  from {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
  65% {
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
  }
  to {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
}